@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #323232;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 17px 37px;
  font-weight: 700;
  line-height: 1.5;
  /* 24/16 */
  color: #FFFFFF;
  background-color: #F78434;
  border-radius: 29px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: 0.8px;
}

.text {
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: 1.15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 0.97;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header__logo {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
}

.menu {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1px;
}

.menu__link {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  /* 24/16 */
}

.menu-open .menu__body {
  left: 0;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.links__logo {
  margin-bottom: 15px;
}

.links__text {
  max-width: 300px;
  margin-bottom: 40px;
}

.links__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.column-footer__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 152.380952%;
  /* 32/21 */
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

.column-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.column-footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 192.857143%;
  /* 27/14 */
  letter-spacing: 0.5px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 127px;
  padding-bottom: 134px;
  padding-right: 15px;
}

.main__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 540px;
}

.main__image-ibg img {
  border-radius: 40px 40px 40px 0px;
}

.items-main__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: 0.8px;
  max-width: 660px;
  margin-right: -100px;
  margin-bottom: 25px;
}

.items-main__text {
  max-width: 467px;
  margin-bottom: 42px;
}

.items-main__subscribe {
  max-width: 459px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(../img/main/logo.svg) no-repeat;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.provide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.provide__images {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  padding-right: 15px;
}

.provide__images img {
  max-width: 100%;
}

.provide__image {
  margin-left: -248px;
}

.provide__sticker {
  position: absolute;
  padding: 1.875rem 1.8125rem 1.875rem 5.875rem;
  bottom: 87px;
  right: 25px;
}

.provide__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.stiker-provide {
  background: url(../img/provide/logo.svg) 29px center no-repeat;
  background-color: #fff;
  border-radius: 15px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stiker-provide__sub-title {
  font-weight: 700;
  line-height: 1.5;
  /* 24/16 */
  letter-spacing: 0.8px;
  max-width: 180px;
}

.stiker-provide__text {
  max-width: 180px;
}

.items-provide {
  max-width: 374px;
  padding-top: 67px;
}

.items-provide__title {
  margin-bottom: 20px;
}

.items-provide__text {
  margin-bottom: 40px;
}

.items-provide__text p:not(:last-child) {
  margin-bottom: 20px;
}

.start {
  position: relative;
}

.start::after {
  position: absolute;
  top: 232px;
  left: 0;
  width: 100%;
  content: "";
  height: 704px;
  background-color: #F5F6FA;
}

.start__container {
  position: relative;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  background: #58BEBF url(../img/start/Oval2.svg) top right no-repeat;
}

.start__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.start__body::before {
  position: absolute;
  bottom: 0;
  left: 30%;
  content: "";
  width: 293px;
  height: 102px;
  background: url(../img/start/Oval.svg) no-repeat;
}

.start__body::after {
  position: absolute;
  top: 0;
  right: -30px;
  content: "";
  width: 170px;
  height: 170px;
  background: url(../img/start/Fill.svg) no-repeat;
}

.start__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.start__image-ibg img {
  top: 35px;
  left: -15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.start__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 5.75rem 5.9375rem 5.6875rem 5.625rem;
}

.items-start__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.items-start__text {
  color: #fff;
  margin-bottom: 30px;
}

.items-start__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.button_white {
  color: #323232;
  padding-left: 50px;
  background: url(../img/start/Icon.svg) 30px center no-repeat;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.who {
  position: relative;
  z-index: 2;
}

.who__container {
  text-align: center;
}

.who__title {
  margin-bottom: 10px;
}

.who__text {
  margin-bottom: 45px;
}

.who__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.item-who {
  background-color: #fff;
  -webkit-box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-who:hover {
  background-color: #F78434;
  color: #fff;
}

.item-who__logo {
  margin-bottom: 15px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-who__logo img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item-who__title {
  margin-top: 85px;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  /* 63/42 */
  letter-spacing: 0.8px;
  margin-bottom: 1px;
}

.item-who__text {
  font-weight: 400;
  line-height: 1.69;
  text-align: center;
  letter-spacing: 1.15px;
  margin-bottom: 25px;
  max-width: 350px;
}

.item-who__link {
  background-color: #fff;
  color: #F78434;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-who:hover .opasity {
  opacity: 0;
}

.why__container {
  text-align: center;
}

.why__title {
  margin-bottom: 58px;
}

.why__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.item-why {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-why__logo {
  position: relative;
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

.item-why__logo img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-why__hover {
  opacity: 0;
}

.item-why__title {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  /* 42/28 */
  text-align: center;
  letter-spacing: 0.5px;
}

.item-why:hover .item-why__norm {
  opacity: 0;
}

.item-why:hover .item-why__hover {
  opacity: 1;
}

.thanks__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 58px;
}

.thanks__titles {
  max-width: 455px;
  padding-right: 15px;
}

.thanks__text {
  max-width: 400px;
}

.thanks__items {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 10px;
}

.thanks__items::after {
  position: absolute;
  content: "";
  background: url(../img/thanks/decor.svg) no-repeat;
  top: -40px;
  right: -40px;
  width: 80px;
  height: 80px;
}

.item-thanks {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-thanks__image {
  position: relative;
  padding-bottom: 58.28%;
  /* 204/350 */
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-thanks__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-thanks__body {
  padding: 1.9375rem 1.8125rem;
}

.item-thanks__text {
  margin-bottom: 23px;
}

.item-thanks__client {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* 27/18 */
  letter-spacing: 0.6px;
  margin-bottom: 1px;
}

.item-thanks__address {
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: 1.15px;
  color: #58BEBF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-thanks:hover .item-thanks__address {
  color: #F78434;
}

.item-thanks:hover .item-thanks__image::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background: url(../img/thanks/play.svg) no-repeat;
}

.item-thanks:hover {
  -webkit-box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
}

.get {
  position: relative;
  overflow: hidden;
}

.get::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  background-color: #58BEBF;
  width: 100%;
  height: 100%;
  -webkit-transform: skewy(-5deg);
      -ms-transform: skewy(-5deg);
          transform: skewy(-5deg);
}

.get__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.get__container::before {
  position: absolute;
  bottom: 0;
  right: -87px;
  content: "";
  background: url(../img/get/Oval.svg) no-repeat;
  width: 743px;
  height: 371px;
  z-index: 2;
}

.get__items {
  margin-top: 210px;
  position: relative;
  z-index: 5;
  max-width: 360px;
}

.get__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}

.get__text {
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: 1.15px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.get__link {
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #323232;
}

.get__image {
  position: relative;
  z-index: 5;
}

.get__image img {
  max-width: 100%;
}

@media (min-width: 71.25em) {
  .title {
    font-size: 2.625rem;
  }

  .header {
    padding-top: 2.8125rem;
  }

  .header {
    padding-bottom: 2.8125rem;
  }

  .menu__list {
    -webkit-column-gap: 2.625rem;
       -moz-column-gap: 2.625rem;
            column-gap: 2.625rem;
  }

  .footer {
    padding-top: 6rem;
  }

  .footer {
    padding-bottom: 5.125rem;
  }

  .links__text {
    margin-bottom: 2.5rem;
  }

  .main {
    margin-top: 8.125rem;
  }

  .main__items {
    padding-top: 7.9375rem;
  }

  .main__items {
    padding-bottom: 8.375rem;
  }

  .items-main__title {
    font-size: 3.375rem;
  }

  .partners {
    padding-top: 6.25rem;
  }

  .partners {
    padding-bottom: 6.25rem;
  }

  .partners__container {
    -webkit-column-gap: 5.9375rem;
       -moz-column-gap: 5.9375rem;
            column-gap: 5.9375rem;
  }

  .provide {
    margin-bottom: 9.0625rem;
  }

  .who {
    margin-top: 9.0625rem;
  }

  .why {
    padding-top: 7rem;
  }

  .why {
    padding-bottom: 7rem;
  }

  .thanks {
    padding-top: 3.6875rem;
  }

  .thanks {
    padding-bottom: 2.625rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.1875rem;
  }

  .header {
    padding-top: 1.875rem;
  }

  .header {
    padding-bottom: 1.875rem;
  }

  .menu__list {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }

  .footer {
    padding-top: 0.625rem;
  }

  .footer {
    padding-bottom: 0.625rem;
  }

  .links__text {
    margin-bottom: 1.25rem;
  }

  .main {
    margin-top: 4.375rem;
  }

  .main__items {
    padding-top: 2.5rem;
  }

  .main__items {
    padding-bottom: 0.0000000625rem;
  }

  .items-main__title {
    font-size: 2.75rem;
  }

  .partners {
    padding-top: 1.875rem;
  }

  .partners {
    padding-bottom: 1.875rem;
  }

  .partners__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .provide {
    margin-bottom: 0.0000000625rem;
  }

  .who {
    margin-top: 1.875rem;
  }

  .why {
    padding-top: 1.875rem;
  }

  .why {
    padding-bottom: 1.875rem;
  }

  .thanks {
    padding-top: 1.25rem;
  }

  .thanks {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__links {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .links__text {
    max-width: 100%;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__image-ibg {
    display: none;
  }

  .provide__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 25px;
  }

  .provide__image {
    margin-left: 0;
  }

  .items-provide {
    max-width: 100%;
    padding-top: 0;
  }

  .start__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .start__image-ibg {
    display: none;
  }

  .start__items {
    padding: 1.875rem;
  }

  .who__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .why__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .thanks__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .get {
    background-color: #58BEBF;
  }

  .get__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .get__items {
    max-width: 100%;
    text-align: left;
    margin-top: 30px;
  }

  .get {
    text-align: end;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .get__items {
    margin-top: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 32px;
    gap: 20px;
    padding-top: 130px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
  }

  .items-main__title {
    position: static;
    margin-right: 0;
  }

  .partners__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .why__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .thanks__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .thanks__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__list {
    padding-top: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 2.1875rem , 2.0167682927rem  +  0.8536585366vw , 2.625rem )) {
    .title {
      font-size: clamp( 2.1875rem , 2.0167682927rem  +  0.8536585366vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 2.0167682927rem  +  0.8536585366vw , 2.625rem )) {
    .title {
      font-size: calc(2.1875rem + 0.4375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem )) {
    .header {
      padding-top: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem )) {
    .header {
      padding-top: calc(1.875rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem )) {
    .header {
      padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem )) {
    .header {
      padding-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -0.5899390244rem  +  4.512195122vw , 2.625rem )) or (column-gap: clamp( 0.3125rem , -0.5899390244rem  +  4.512195122vw , 2.625rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.3125rem , -0.5899390244rem  +  4.512195122vw , 2.625rem );
         -moz-column-gap: clamp( 0.3125rem , -0.5899390244rem  +  4.512195122vw , 2.625rem );
              column-gap: clamp( 0.3125rem , -0.5899390244rem  +  4.512195122vw , 2.625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -0.5899390244rem  +  4.512195122vw , 2.625rem )) or (column-gap: clamp( 0.3125rem , -0.5899390244rem  +  4.512195122vw , 2.625rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.3125rem + 2.3125 * (100vw - 20rem) / 51.25);
         -moz-column-gap: calc(0.3125rem + 2.3125 * (100vw - 20rem) / 51.25);
              column-gap: calc(0.3125rem + 2.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 0.625rem , -1.4725609756rem  +  10.487804878vw , 6rem )) {
    .footer {
      padding-top: clamp( 0.625rem , -1.4725609756rem  +  10.487804878vw , 6rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -1.4725609756rem  +  10.487804878vw , 6rem )) {
    .footer {
      padding-top: calc(0.625rem + 5.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -1.131097561rem  +  8.7804878049vw , 5.125rem )) {
    .footer {
      padding-bottom: clamp( 0.625rem , -1.131097561rem  +  8.7804878049vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -1.131097561rem  +  8.7804878049vw , 5.125rem )) {
    .footer {
      padding-bottom: calc(0.625rem + 4.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
    .links__text {
      margin-bottom: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
    .links__text {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-top: clamp( 4.375rem , 2.9115853659rem  +  7.3170731707vw , 8.125rem )) {
    .main {
      margin-top: clamp( 4.375rem , 2.9115853659rem  +  7.3170731707vw , 8.125rem );
    }
}

@supports not (margin-top: clamp( 4.375rem , 2.9115853659rem  +  7.3170731707vw , 8.125rem )) {
    .main {
      margin-top: calc(4.375rem + 3.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.3780487805rem  +  10.6097560976vw , 7.9375rem )) {
    .main__items {
      padding-top: clamp( 2.5rem , 0.3780487805rem  +  10.6097560976vw , 7.9375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.3780487805rem  +  10.6097560976vw , 7.9375rem )) {
    .main__items {
      padding-top: calc(2.5rem + 5.4375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -3.268292596rem  +  16.3414632927vw , 8.375rem )) {
    .main__items {
      padding-bottom: clamp( 0.0000000625rem , -3.268292596rem  +  16.3414632927vw , 8.375rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -3.268292596rem  +  16.3414632927vw , 8.375rem )) {
    .main__items {
      padding-bottom: calc(0.0000000625rem + 8.3749999375 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2.75rem , 2.506097561rem  +  1.2195121951vw , 3.375rem )) {
    .items-main__title {
      font-size: clamp( 2.75rem , 2.506097561rem  +  1.2195121951vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.75rem , 2.506097561rem  +  1.2195121951vw , 3.375rem )) {
    .items-main__title {
      font-size: calc(2.75rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
    .partners {
      padding-top: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
    .partners {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
    .partners {
      padding-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
    .partners {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 51.25);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.5792682927rem  +  9.1463414634vw , 5.9375rem )) or (column-gap: clamp( 1.25rem , -0.5792682927rem  +  9.1463414634vw , 5.9375rem ))) {
    .partners__container {
      -webkit-column-gap: clamp( 1.25rem , -0.5792682927rem  +  9.1463414634vw , 5.9375rem );
         -moz-column-gap: clamp( 1.25rem , -0.5792682927rem  +  9.1463414634vw , 5.9375rem );
              column-gap: clamp( 1.25rem , -0.5792682927rem  +  9.1463414634vw , 5.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.5792682927rem  +  9.1463414634vw , 5.9375rem )) or (column-gap: clamp( 1.25rem , -0.5792682927rem  +  9.1463414634vw , 5.9375rem ))) {
    .partners__container {
      -webkit-column-gap: calc(1.25rem + 4.6875 * (100vw - 20rem) / 51.25);
         -moz-column-gap: calc(1.25rem + 4.6875 * (100vw - 20rem) / 51.25);
              column-gap: calc(1.25rem + 4.6875 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.0000000625rem , -3.536585279rem  +  17.6829267073vw , 9.0625rem )) {
    .provide {
      margin-bottom: clamp( 0.0000000625rem , -3.536585279rem  +  17.6829267073vw , 9.0625rem );
    }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -3.536585279rem  +  17.6829267073vw , 9.0625rem )) {
    .provide {
      margin-bottom: calc(0.0000000625rem + 9.0624999375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-top: clamp( 1.875rem , -0.9298780488rem  +  14.0243902439vw , 9.0625rem )) {
    .who {
      margin-top: clamp( 1.875rem , -0.9298780488rem  +  14.0243902439vw , 9.0625rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , -0.9298780488rem  +  14.0243902439vw , 9.0625rem )) {
    .who {
      margin-top: calc(1.875rem + 7.1875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.125rem  +  10vw , 7rem )) {
    .why {
      padding-top: clamp( 1.875rem , -0.125rem  +  10vw , 7rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.125rem  +  10vw , 7rem )) {
    .why {
      padding-top: calc(1.875rem + 5.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 7rem )) {
    .why {
      padding-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 7rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 7rem )) {
    .why {
      padding-bottom: calc(1.875rem + 5.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.2987804878rem  +  4.756097561vw , 3.6875rem )) {
    .thanks {
      padding-top: clamp( 1.25rem , 0.2987804878rem  +  4.756097561vw , 3.6875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.2987804878rem  +  4.756097561vw , 3.6875rem )) {
    .thanks {
      padding-top: calc(1.25rem + 2.4375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7134146341rem  +  2.6829268293vw , 2.625rem )) {
    .thanks {
      padding-bottom: clamp( 1.25rem , 0.7134146341rem  +  2.6829268293vw , 2.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7134146341rem  +  2.6829268293vw , 2.625rem )) {
    .thanks {
      padding-bottom: calc(1.25rem + 1.375 * (100vw - 20rem) / 51.25);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 71.25em) {
  .menu__list {
    padding-top: 8.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 71.25em) {
@supports (padding-top: clamp( 6.25rem , 5.5182926829rem  +  3.6585365854vw , 8.125rem )) {
    .menu__list {
      padding-top: clamp( 6.25rem , 5.5182926829rem  +  3.6585365854vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.5182926829rem  +  3.6585365854vw , 8.125rem )) {
    .menu__list {
      padding-top: calc(6.25rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 71.25em) {
  .get__items {
    margin-top: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 71.25em) {
@supports (margin-top: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem )) {
    .get__items {
      margin-top: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem )) {
    .get__items {
      margin-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #d17532;
  }

  .menu__link:hover {
    color: #F78434;
  }

  .links__links a:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }

  .column-footer__link:hover {
    color: #F78434;
  }

  .button_white:hover {
    background-color: #f7f3f3;
  }

  .item-who__link:hover {
    background-color: #f7f3f3;
  }

  .get__link:hover {
    background-color: #eeeaea;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }
}